.skill {
    display: table-row;
}

.skill p {
    display: table-cell;
    padding-right: 1em;
}

.skill label {
    display: table-cell;
    padding-right: 0.5em;
}

.skill progress {
    display: table-cell;
}
